  <div id="top-bar-outer">
    <div id="top-bar-bg"></div>
    <div id="top-bar">
      <div class="top-bar-inside">
        <div class="static-links">
          <div id="logo">
            <a href="/">test.ical.ly</a> | getting PHP by the balls
          </div>
          <div id="global-nav">
            <ul>
              <li><a target="_new" href="http://test.ical.ly">blog</a></li>
              <li class="active"><a>sfImageTransformExtraPlugin</a></li>
              <li><a target="_new" href="http://about.me/caefer">About.me</a></li>
              <li><a target="_new" href="http://twitter.com/#!/caefer">Twitter</a></li>
            </ul>
          </div>
        </div>
        <div class="active-links">
          <div class="loggedin" id="session">
            <span id="screen-name">
            Projects
            </span>
            <div id="dropdown">
              <ul class="user-dropdown">
                <li>loading..</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
